{% extends "Appweb/padre.html" %}

{% load static %}

{% block navbar %}
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>

        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'Perfil' %}">Perfil</a>
            <a class="btn btn-primary" href="{% url 'Logout' %}">Log out</a>
            <p>Hola! {{user.username}}</p>
        {% with user.avatar_set.first as miAvatar %}

            {% if miAvatar %}
            <img src="{{miAvatar.imagen.url}}" alt="No encontro la imagen" width="80" 
            height="auto" ;>
            {% endif %}
        {% endwith %}
        
        {% else %}
            <a class="btn btn-primary" href="{% url 'Login' %}">Log In</a>
            <a class="btn btn-primary" href="{% url 'Singup' %}">Registrarse</a>

        {% endif %}

    </div>
</nav>
{% endblock %}

{% block titulo %}

 <h1> Agregar avatar <h1> 
    <h2>
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}

        {{formulario.as_p}}
        
        <button type= "submit"> Enviar </button>
        

{% endblock %}